/KPM_Sessions
/aws_website_code
/node_modules
/Sprint1/CLIPortion/node_modules
/FullStackJavascript/Week9/express_practice/node_modules
/FullStackJavascript/Week10/Week9Samples/node_modules
/FullStackJavascript/Assignments/qap3/node_modules
/MERN_PREP/mern/client/node_modules
/Database/Week12/mongoPractice/node_modules
/MERN_PREP/mern/server/node_modules