<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="options">
        <h1>Something seems to have gone wrong :(</h1>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>