<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="options">
        <div>
            <a href="/ret1">Store 1 Unreturned Rentals</a> <br>
            <a href="/rev1">Store 1 Revenue</a>
            
        </div>
        <div>
            <a href="/ret2">Store 2 Unreturned Rentals</a> <br>
            <a href="/rev2">Store 2 Revenue</a>
        </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>